
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>my friend</h1>
      <!-- 顯示加入朋友的人的清單 -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong><%= current_user.all_friends.count %></strong> friends</h3>
        </div>
        
        <ul class="list-group">
          <% @friends.each do |friend| %>
          <li class="list-group-item">
            <%= link_to user_path(friend) do %>
            <%= image_tag friend.avatar, height: 30, width: 30, class: "img-circle" %>
            
            <% if friend.name? %>
            <%= friend.name %>
            <% else %>
            <%= friend.email.split('@').first %>
            <% end %>
            
            <% end %>
          </li>
          <% end %>
        </ul>
        
      </div>

    </div>
  </div>
</div>
