<div class="container">
 <div class="row">

   <!-- 使用 Bootstrap components 的 Nav Tabs -->
   <!-- https://getbootstrap.com/docs/3.3/components/#nav-tabs -->
   <ul class="nav nav-tabs">
     <li role="presentation">
       <%= link_to '首頁', root_path %>
     </li>
     <li role="presentation">
       <%= link_to '最新動態', feeds_restaurants_path %>
     </li>
     <li role="presentation">
       <%= link_to '美食達人', users_path %>
     </li>
     <li role="presentation" class="active">
        <%= link_to 'TOP10人氣餐廳', ranking_restaurants_path %>
     </li>
   </ul>
    

 </div>
</div>

<br>
<div class="container">
  <div class="row">
    <h1>TOP10人氣餐廳</h1>

    <%= render partial: "shared/restaurant_list" %>


  </div>
</div>

